body {
  min-width: 480px;
  max-height: 767px;
  margin: auto;
}

p {
  display: inline-block;
}

header {
  width: 100%;
  height: 75px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: lemonchiffon;
  border: thin black solid;
}

#b {
  width: 100%;
  height: 150px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border: thin black solid;
}

#c {
  width: 100%;
  height: 125px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  border: thin black solid;
}

#d {
  width: 100%;
  height: 125px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: darkkhaki;
  border: thin black solid;
}

.four-boxes {
  width: 50%;
  height: 250px;
  float: left;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border: thin black solid;
}

footer {
  width: 100%;
  height: 80px;
  float: left;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: moccasin;
  border: thin black solid;
}

@media( min-width: 481px){
  body {
    min-width: 480px;
    max-height: 767px;
    margin: auto;
  }
  
  p {
    display: inline-block;
  }
  
  header {
    width: 100%;
    height: 75px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 225, 107);
    border: thin black solid;
  }
  
  #b {
    width: 100%;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 148, 38);
    border: thin black solid;
  }
  
  #c {
    width: 100%;
    height: 125px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 225, 65);
    border: thin black solid;
  }
  
  #d {
    width: 100%;
    height: 125px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 227, 89);
    border: thin black solid;
  }
  
  .four-boxes {
    width: 50%;
    height: 250px;
    float: left;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 168, 85);
    border: thin black solid;
  }
  
  footer {
    width: 100%;
    height: 80px;
    float: left;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 131, 26);
    border: thin black solid;
  }
}

@media( min-width: 1000px){

  body {
    min-height: 769px;
    max-width: 1000px;
    margin: auto;
  }

  header{
    width: 100%;
    height: 100px;
    background-color: chocolate;
  }

  #b {
    width: 20.83%;
    height: 600px;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: coral;
    border: thin black solid;
  }

#c{
    width: 39.58%;
    height: 200px;
    float: right;
    background-color:brown;
    border: thin black solid;
  }

  #d {
    width: 39.58%;
    height: 200px;
    float:right;
    background-color:crimson;
    border: thin black solid;
  }

  .four-boxes {
    width: 19.79%;
    height: 250px;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border: thin black solid;
  }

  footer {
    width: 79.16%;
    height: 150px;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border: thin black solid;
  }
}
